// Hero
.features .hero {
  position: relative;

  &.hero-bg-half::after {
    content: "";
    width: 100%;
    height: calc(min(18vw, 180px) + 4em);
    position: absolute;
    left: 0;
    bottom: 0;
    background: #fff;
    z-index: -1;
  }

  &.hero-bg-edge {
    padding-bottom: 0;

    &+ section {
      padding-top: 5em;
    }
  }

  h1 {
    max-width: 650px;
  }

  p {
    max-width: 630px;
  }

  img {
    margin-top: 3em;
    width: min(90%, 800px);
  }
  
  a + img {
    margin-top: 1em;
  }

}

// Body
.features .features-body {
  padding: 3em 0 5em;
  background: white;

  h2 {
    padding: 0 12px;
    margin-bottom: 1em;
  }

  .pathImg {
    display: none;
    &:first-of-type {transform: translateX(100px);}
  }

  @include breakpoints(lg) {
    .pathImg {display: block;}
    .pathImg + .body-list-item {margin: 0;}
  }
}

.features .body-list-item {
  ul {
    max-width: 450px;
    margin: 0 auto;

    li {
      &:not(:last-of-type) {
        margin-bottom: 15px;
      }

      span {
        font-weight: bold;
      }
    }
  }

  @include breakpoints(lg) {
    &:nth-of-type(2n+1) {
      flex-direction: row-reverse;
    }
    
    ul {
      margin: 0;
    }
  }
}