#pricing {
  h1 {
    max-width: 14em;
  }

  h1 + p {
    max-width: 26em;
    margin-top: 1em;
    margin-bottom: 3em;
    font-size: var(--size-body-md);
  }
}

#pricing .pricing-cards {
  display: grid;
  row-gap: 2em;
  grid-template-columns: 1fr;

  .pricing-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: var(--card-shadow);
    width: 100%;
    max-width: 21em;
    margin: 0 auto;
    padding: 1.5em 0 1.5em;

    > div {
      padding: 1.5em;
    }

    .plan {
      border-bottom: 2px solid var(--quote-border);
    }

    .offers {
      h4 {
        font-family: 'Open Sans', sans-serif;
        font-size: var(--size-body);
        font-weight: bold;
        text-transform: uppercase;
        text-align: left;
        color: var(--light-grey);
        margin-bottom: 0.5em;
      }

      ul {
        li {
          font-size: var(--size-body-md);
        }

        + h4 {
          margin-top: 2em;
        }
      }
    }
  }

  h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

    + p {
      font-size: var(--size-body-sm);
      color: var(--faint-grey);
      margin-bottom: 2em;
    }
  }

  .price {
    span {
      font-size: var(--size-h2);
      color: #000;
    }

    ~ p {
      font-size: var(--size-body-sm);
      margin: 0;
    }
  }

  @include breakpoints(lg) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;

    .pricing-card {
      display: grid;
      grid-template-rows: 1fr 1.3fr;
      
      .plan {
        display: grid;
      }
      
      @include breakpoints(xl) {
        grid-template-rows: 1fr 1.1fr;
      }
    }
  }
}

#pricing .you-get {
  background-color: #fff;

  h2 {
    margin-bottom: 2em;
    max-width: unset;
  }

  .benefits {
    > div {
      max-width: 20em;
      margin: 0 auto;

      + div {
        margin-top: 3em;
      }
    }
  }

  h3 {
    font-size: var(--size-body-lg);
    margin: 1em 0 0.5em
  }

  @include breakpoints(md) {
    .benefits {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 2em;
      
      > div {
        display: grid;
        grid-template-rows: 150px auto 2fr;
        row-gap: 1em;
        margin-top: 0;

        + div {
          margin: 0;
        }
      }

      h3 {
        margin: 0;
      }
    }
  }
}

#pricing .faq {
  
  h2 {
    margin-bottom: 2em;
  }

  .faq-body > div + div {
    margin-top: 2.5em;
  }
  
  h3 {
    text-align: left;
    font-size: var(--size-body-lg);
    color: var(--bright-blue);
  }
  
  p {
    text-align: left;
    margin: 1em 0 0;
  }

  @include breakpoints(lg) {
    .faq-body {
      column-count: 2;
      column-gap: 3em;
      
      > div {
        page-break-inside: avoid;
      }
    }
  }
}