#pricing {
  h1, p {
    max-width: 650px;
  }

  h1 + p {
    margin-top: 1em;
    margin-bottom: 3em;
  }
}

#pricing .pricing-cards {
  display: grid;
  row-gap: 2em;
  grid-template-columns: 1fr;

  p {
    color: #000;
  }

  .pricing-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 450px;
    margin: 0 auto;

    > div {
      padding: 1.5em;
    }

    .plan {
      border-bottom: 2px solid var(--quote-border);
    }

    .offers {
      h4 {
        font-family: 'Open Sans', sans-serif;
        font-size: var(--size-body);
        font-weight: bold;
        text-transform: uppercase;
        text-align: left;
        color: var(--light-grey);
        margin-bottom: 0.5em;
      }

      ul {
        li {
          font-size: var(--size-body-md);
        }

        + h4 {
          margin-top: 2em;
        }
      }
    }
  }

  h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

    + p {
      font-size: var(--size-body);
      margin-top: 0.5em;
    }
  }

  .price {
    span {
      font-size: var(--size-h2);
    }

    ~ p {
      font-size: var(--size-body);
      margin: 0;
    }
  }

  @include breakpoints(lg) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;

    .pricing-card {
      display: grid;
      grid-template-rows: 1fr 1.3fr;
      
      .plan {
        display: grid;
      }
      
      @include breakpoints(xl) {
        grid-template-rows: 1fr 1.1fr;
      }
    }
  }
}

#pricing .you-get {
  background-color: #fff;

  h2 {
    margin-bottom: 2em;
  }

  .benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3em;

    > div {
      max-width: 380px;
    }
  }

  h3 {
    font-size: var(--size-body-lg);
    margin: 1em 0 0.5em
  }

  @include breakpoints(lg) {
    .benefits {
      flex-direction: row;
      align-items: flex-start;
      column-gap: 2em;
      
      > div {
        display: grid;
        grid-template-rows: 150px;
        row-gap: 1em;
      }

      h3 {
        margin: 0;
      }
    }
  }
}

#pricing .faq {
  
  h2 {
    margin-bottom: 2em;
  }

  .faq-body > div + div {
    margin-top: 2.5em;
  }
  
  h3 {
    text-align: left;
    font-size: var(--size-body-lg);
  }
  
  p {
    text-align: left;
    margin: 1em 0 0;
  }

  @include breakpoints(lg) {
    .faq-body {
      column-count: 2;
      column-gap: 2em;
      
      > div {
        page-break-inside: avoid;
      }
    }
  }
}