a.cta-btn {
  padding: 10px 44px;
  border-radius: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: var(--size-body);
  display: inline-block;
  transition: all 0.3s;

  &.main {
    color: #fff;

    &.red {
      background-color: var(--red-btn);
      
      &:hover {
        background-color: var(--dark-red);
      }
    }

    &.blue {
      background-color: var(--blue-btn);

      &:hover {
        background-color: var(--bright-blue);
      }
    }
  }

  &.alt {
    border: 3px solid;
    padding: 7px 32px;

    &.red {
      color: var(--red-btn);
      border-color: var(--red-btn);
      
      &:hover {
        color: #fff;
        background-color: var(--red-btn);
      }
    }

    &.blue {
      color: var(--blue-btn);
      border-color: var(--blue-btn);
      
      &:hover {
        color: #fff;
        border-color: var(--bright-blue);
        background-color: var(--bright-blue);
      }
    }
  }

  svg {
    transition: transform 0.3s;
  }

  &:hover {
    svg { 
      transform: translateX(0.5em);
    }
  }
}