main .cta {
  background: #fff;

  h2 {
    max-width: 610px;
  }

  p {
    margin: 1em auto 1.5em;
  }

  ul {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    li {
      margin: 8px 15px;
    }

    img {
      display: inline-block;
      width: 300px;
      box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &.platforms {
      margin-top: 3em;
    }
  }
}