main .cta {
  background: #fff;

  p {
    margin-bottom: 1.5em;
  }

  ul {
    // max-width: 750px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    // column-gap: 1.5em;
    // row-gap: 1em;

    li {
      padding: 0.5em;
    }
    
    img {
      display: inline-block;
      width: 100%;
      border-radius: 5px;
      box-shadow: var(--card-shadow);
    }

    &.platforms {
      margin-top: 3em;

      li {
        flex-basis: 50%;

        @include breakpoints(lg) {
          flex-basis: 25%;
        }
      }
    }

    @include breakpoints(xxl) {
      max-width: 1440px;
    }
  }
}