@import "../pages/Home/styles.scss";
@import "../pages/About/styles.scss";
@import "../pages/Pricing/styles.scss";
@import "../pages/PrivacyPolicy/styles.scss";
@import "../pages/FeatureOverview/styles.scss";
@import "../pages/features/styles.scss";

.hero {
  padding: 4em 12px;

  p {
    margin: 1.2em auto;
    font-size: var(--size-body-md);
  }
}

section {
  padding: 4em 0;

  > h2 {
    padding: 0 12px;
  }

  h2 {
    max-width: 17em;
    margin-bottom: 1em;

    + p {
      margin-top: -1em;
    }
  }
}

.wavy-border {
  @include wavy-border;
}