@import "../pages/Home/styles.scss";
@import "../pages/FeatureOverview/styles.scss";
@import "../pages/features/styles.scss";

.hero {
  padding: 4em 12px;

  p {
    margin: 1.2em auto;
    font-size: var(--size-body-md);
  }

  img {
    margin-top: 1em;
  }
}

.wavy-border {
  @include wavy-border;
}