@import "../pages/Home/styles.scss";
@import "../pages/About/styles.scss";
@import "../pages/Pricing/styles.scss";
@import "../pages/PrivacyPolicy/styles.scss";
@import "../pages/FeatureOverview/styles.scss";
@import "../pages/features/styles.scss";

.hero {
  padding: 4em 12px;

  p {
    margin: 1.2em auto;
    font-size: var(--size-body-md);
  }
}

section {
  padding: 4em 0;
}

.wavy-border {
  @include wavy-border;
}