.why-item {
  img {
    width: 600px;
    margin-bottom: 1em;
  }

  h3 {
    max-width: 480px;
  }

  p {
    max-width: 550px;
    margin: 1em auto 1.5em;
  }

  figure {
    max-width: 450px;
    text-align: left;
    margin: 0 auto;
    border-left: 5px solid var(--quote-border);
    padding-left: 1.5em;

    blockquote {
      font-style: italic;
      color: var(--dark-grey);
      margin-bottom: 1em;
    }

    figcaption {
      text-transform: uppercase;
      color: var(--quote-cite);
    }
  }

  @include breakpoints(lg) {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;

    > div {
      margin: 0 30px;
    }

    img {
      width: 50%;
      max-width: 600px;
      margin: 0;
    }

    h3 {
      margin: 0;
    }

    figure {
      margin-left: 0;
      margin-right: 0;
    }
  }
}