// Hero
#home section:first-of-type {
  padding: 0;
}

#home .hero {
  
  p {
    max-width: 21em;

    @include breakpoints(md) {
      margin-bottom: -4em;
    }
  }
}

#home .hero-logos {
  background: var(--bg-logos);
  padding: 25px 0;

  p {
    color: var(--dark-grey);
    font-size: var(--size-body-lg);
    font-family: 'Merriweather', serif;
    margin: 0 0 10px;
  }

  div {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  img {
    margin: 15px 15px 0;

    &:first-of-type {
      margin-top: 10px;
    }
  }
}

// WhyAirship
#home .why-body {
  
  h2 {
    max-width: 16em;
    padding: 0 12px;
  }

  > picture img {
    width: 100%;
    max-width: 650px;
    margin: 4em auto 5em;

    @include breakpoints(lg) {
      max-width: 1440px;
    }
  }
}

#home .body-list-item {
  &:nth-of-type(2n) {
    img {
      grid-column: 2;
    }
  }

  figure {
    text-align: left;
    max-width: 23em;
    margin: 0 auto;
    border-left: 3px solid var(--quote-border);
    padding-left: 1em;

    blockquote {
      font-style: italic;
      color: var(--dark-grey);
      margin-bottom: 1em;
    }

    figcaption {
      text-transform: uppercase;
      color: var(--faint-grey);
      font-size: var(--size-body-sm);
    }
  }

  @include breakpoints(lg) {
    figure {
      margin: 0;
    }
  }
}