@import "whyairshipitem";

// Hero
#home .hero {
  
  p {
    max-width: 480px;

    @include breakpoints(md) {
      width: 50%;
      margin-bottom: -95px;
    }
  }
}

#home .hero-logos {
  background: var(--bg-logos);
  padding: 25px 0;

  p {
    color: var(--dark-grey);
    font-size: var(--size-body-lg);
    font-family: 'Merriweather', serif;
    margin: 0 0 10px;
  }

  div {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  img {
    margin: 15px 15px 0;

    &:first-of-type {
      margin-top: 10px;
    }
  }
}

// WhyAirship
main .why-body {
  padding-top: 5em;
  
  h2 {
    max-width: 600px;
    padding: 0 12px;
  }

  > picture img {
    width: 100%;
    max-width: 1440px;
    margin: 4em auto 5em;
  }
}

main .why-list {
  .why-item {
    margin: 5em 0;

    &:nth-of-type(2n) {
      flex-direction: row-reverse;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    @include breakpoints(lg) {
      margin: 2em 0;
    }
  }
}