// General Benefits styles
.features-benefits {
  --border-rad: 10px;

  padding: 0 12px;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 80%);
  }

  > div {
    background: #fff;
    padding: 3em 14px;
    border-radius: var(--border-rad);
    box-shadow: var(--card-shadow);
  }

  img + div h2 {
    margin-top: 1em;
  }

  h2 {
    max-width: 18em;
    padding: 0;
  }
  
  strong.blue {
    color: var(--bright-blue);
  }

  h2 + p {
    font-size: var(--size-body-md);
    color: var(--light-grey);
    margin-bottom: 1.5em;
  }

  ul {
    margin: 1.5em auto;
  }

  ul.checklist {
    width: fit-content;
    display: grid;
    row-gap: 0.5em;
    column-gap: 2em;

    li {
      width: fit-content;
    }
  }

  .cta-btn {
    margin-top: 1em;
  }

  @include breakpoints(lg) {
    ul.checklist {
      grid-auto-flow: column;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

// Track and Trace
#track-and-trace .features-benefits {
  @include breakpoints(lg) {
    ul.checklist {
      grid-template-rows: repeat(4, 1fr);
    }
  }
}

// Booking System
#booking-system .features-benefits {
  h2 {
    max-width: 22em;
    margin: 0.5em auto 2em;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      max-width: 170px;
      flex: 25%;
      margin: 1em 0.3em;

      @include breakpoints(lg) { flex: 15%; }

      p {
        margin-top: 0.5em;
        font-size: var(--size-body-sm);
      }
    }

    img {
      max-width: 50%;
    }
  }
}

// Dispatch Riders
#dispatch-riders .features-benefits {
  padding: 0;

  > div {
    box-shadow: unset;
    border-radius: 0;
    background-image: url("/static/dispatch-riders/dispatch-map-bg.png");
    background-size: cover;
    background-position: left;
    padding: 5em 12px 3em;

    div {
      margin: 0 auto;
      max-width: 34em;
      padding: 3em 14px 2em;
      border-radius: var(--border-rad);
      box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.2);
      background: #fff;
    }
  }

  @include breakpoints(lg) {
    > div {
      border-radius: var(--border-rad);
      box-shadow: var(--card-shadow);
      padding-left: 3em;

      div {
        margin: 0;
        text-align: left;
        padding-left: 3em;
        padding-right: 3em;
      }

      p {
        margin: 1em 0;
      }
    }
  }
}

// Cash Collections
#cash-collections .features-benefits > div {

  @include breakpoints(lg) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding-left: 2em;
    padding-right: 2em;

    img {
      margin: 0;
      max-width: 50%;
      margin-left: 2em;
    }

    h2 {
      margin: 0
    }

    ul.checklist {
      margin-left: 0;
      grid-template-columns: unset;
      grid-auto-flow: unset;
    }
  }
}

// Flexible Pricing
#flexible-pricing .features-benefits {
  .cta-btn {
    margin-top: 0;
  }

  > div {
    padding: 3em 14px 1em;
  }

  ul {
    margin: 2em 0 0;

    > li {
      margin: 2em;
      display: grid;
      // grid-template-rows: 10em 1fr 1.5fr;
    }

    img {
      margin-bottom: 1em;
      @include breakpoints(md) { margin-bottom: 0; }
      @include breakpoints(xl) { max-width: 50%; }
    }
    
    h4 {
      font-size: var(--size-body-lg);
      font-weight: bold;
      margin-bottom: 0.5em;
      @include breakpoints(md) { margin: 1.5em 0 0.5em; }
    }

    p {
      font-size: var(--size-body-sm);
      // max-width: 450px;
    }

    @include breakpoints(lg) {
      display: flex;
    }
  }
}

// Analytics and Reports
#analytics-and-reports .features-benefits {
  img {
    max-width: 50%;
  }

  ul.checklist {
    grid-template-rows: repeat(5, 1fr);
  }

  @include breakpoints(lg) {
    text-align: left;

    > div {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
    }

    img {
      max-width: 25%;
      margin-left: 2em;
    }

    h2 {
      margin: 0;
    }

    ul.checklist {
      margin-left: 0;
    }
  }
}