header address {
  background-color: var(--dark-grey);
  font-size: var(--size-body-sm);
  margin: 0;
  color: #fff;

  > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 12px;

    > div {
      &:not(:last-of-type) {
        margin-right: 20px;
      }

      a {
        margin-left: 5px;
      }
    }

    @include breakpoints(md) {
      justify-content: flex-end;
    }
  }
}


// Parent Navbar
header nav {
  padding: 30px 12px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

// Hamburger Icon
#hamburger {
  --ham-dim: 36px;
  border-radius: 3px;
  background: var(--red-btn);
  width: var(--ham-dim);
  height: var(--ham-dim);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;

  .bar {
    --bar-width: 20px;
    --bar-height: 2px;
    --bar-margin: 8px;
    position: relative;
    display: block;
    margin-bottom: var(--bar-margin);
    width: var(--bar-width);
    height: var(--bar-height);

    &:last-of-type {
      margin: 0;
    }

    &::before, &::after {
      position: absolute;
      content: "";
      width: calc(var(--bar-width) / 2);
      height: var(--bar-height);
      background: #fff;
      top: 0;
      transition: all 0.1s;
    }

    &::before {
      left: 0;
      transform-origin: left;
    }

    &::after {
      right: 0;
      transform-origin: right;
    }
  }
}

nav.active #hamburger .bar {
  &::before, &::after {
    width: 70%;
  }

  &:nth-of-type(1)::before, &:nth-of-type(3)::after {
    transform: rotate(45deg);
  }

  &:nth-of-type(1)::after, &:nth-of-type(3)::before {
    transform: rotate(-45deg);
  }

  &:nth-of-type(2) {
    &::before, &::after {
      width: 0;
    }
  }
}

// Nav List
#main-nav {
  max-width: 1440px;
  display: flex;
  background: #fff;
  color: #000;
  flex-flow: column;
  align-items: center;
  
  padding: 0 12px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  box-shadow: var(--hover-shadow);
  z-index: 9;
  transition: opacity 0.2s;

  li {
    padding: 12px 0;
  }
}

nav.active #main-nav {
  visibility: visible;
  opacity: 1;
}

// Change from Hamburger to Full Navbar
@include breakpoints(lg) {
  #main-nav {
    flex-flow: row;
    position: static;
    background: transparent;
    width: auto;
    padding: 0;
    box-shadow: unset;
    visibility: visible;
    opacity: 1;

    li {
      padding: 0;
      margin: 0 20px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  #hamburger {
    display: none;
  }
}