.features-cards {

  h2:not(.overview) {
    max-width: unset;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1em;
    row-gap: 1em;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 12px;

    li {
      text-align: left;
      max-width: 23em;
      background: #fff;
      padding: 1.4em 2.2em;
      border-radius: 10px;
      box-shadow: var(--card-shadow);

      &.active {
        h3 {color: var(--blue-btn);}

        p {margin-bottom: 2em;}
      }
    }

    img {
      width: 30%;
      margin: 0;

      + h3 {
        margin-top: 1em;
      }
    }

    h3 {
      font-family: 'Open Sans', sans-serif;
      margin-bottom: 0.5em;
      font-size: var(--size-body);
      font-weight: bold;
      color: var(--bright-blue);
      text-transform: uppercase;
    }

    p {
      font-family: 'Merriweather', serif;
      margin-bottom: 1em;
      font-size: var(--size-body-lg);
      color: var(--dark-grey);
    }

    a {
      color: var(--red-btn);

      svg {transition: transform 0.3s;}

      &:hover {
        color: var(--dark-red);

        svg {transform: translateX(0.5em)}
      }
    }
  }
}