button.sub-nav-btn {
  padding: 12px;
  width: 100%;
  
  svg {
    margin-left: 10px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: var(--quote-border);
  }
}

ul.sub-nav {
  --dotted-border: 2px dashed var(--quote-border);
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-top: solid 1px var(--quote-border);
  text-align: left;
  z-index: 9;
  transition: height 0.2s ease-out;

  li:first-of-type {
    border-bottom: var(--dotted-border);

    span {
      color: var(--red-btn);
      font-weight: 600;
    }

    svg {
      transition: all 0.2s;
    }
  }

  a {
    display: grid;
    grid-template-columns: clamp(35px, 10vw, 75px) 1fr;
    grid-gap: 10px;
    padding: 12px;
    align-items: center;

    &:hover, &:focus {
      background: rgba(0, 0, 0, 0.1);

      img {
        transform: scale(1);
      }

      p:first-of-type {
        color: var(--red-btn);
      }

      svg {
        transform: translateX(0.5em);
      }
    }
  }

  img {
    transform: scale(0.9);
    transition: all 0.2s;
  }

  p {
    &:first-of-type {
      color: var(--bright-blue);
      font-weight: 600;
      transition: color 0.2s;
    }

    &:last-of-type {
      font-size: var(--size-body-sm);
      color: var(--light-grey);
    }
  }

  @include breakpoints(lg) {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    top: 100%;
    left: 0;
    right: 0;
    box-shadow: var(--hover-shadow);

    li:first-of-type {
      grid-row-start: 1;
      grid-row-end: -1;
      border-bottom: unset;
      border-right: var(--dotted-border);

      a {
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
          width: 70%
        }
      }
    }

    li {
      border-bottom: 1px solid var(--quote-border);

      a {
        height: 100%;
      }
    }
  }
}

// Toggling Sub Nav Styles
#main-nav li.active {
  background-color: var(--quote-border);

  > button.sub-nav-btn svg {
    transform: rotate(-180deg);
  }
}


ul.sub-nav.closed {
  display: none;
}