#overview .hero {
  img {
    width: max(50%, 500px);
  }

  @include breakpoints(lg) {
    display: flex;
    text-align: left;
    align-items: center;
    column-gap: 30px;

    p {
      margin-bottom: 0;
    }
  }
}

#overview .blue-stat {
  background: var(--bright-blue);
  padding: 4em 12px;
  
  * {
    color: #fff;
  }

  h2 {
    max-width: 840px;
    margin: 10px auto 20px;

    span {
      display: block;
    }
  }

  p {
    max-width: 550px;
  }
}