#overview .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: max(40%, 400px);
  }

  > div {
    max-width: 27em;
  }

  @include breakpoints(lg) {
    text-align: left;
    flex-direction: row;
    column-gap: 4em;

    img {
      margin: 0;
    }

    p {
      margin-bottom: 0;
    }
  }
}

#overview .blue-stat {
  background: var(--bright-blue);
  padding: 4em 12px;
  
  * {
    color: #fff;
  }

  h2 {
    max-width: unset;
    margin: 0.5em auto 0.7em;

    span {
      display: block;
    }
  }

  p {
    max-width: 31em;
  }
}